.show{
    display:block;
}
.hide{
    display:none;
}
.content1{
    display:grid;
    position: absolute;
    right:3%;
    top: 19%;
    width: 25%;
    height: 325px;
    background-color: white;
    border: 1px solid grey;
}
.inp_add{
    width:150px;
}
#time_but{
    border: none;
    color: white;
    border-radius: 25px;
    background-color: rgb(87, 121, 221);
    padding:7px 13px;
}
#time_but:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}