body {
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:#eee;
  width:100%;
  height:100%;
}
*{
    border-radius:0px;
}
#wrapper{
    /*display:grid;*/
   /*grid-template-rows: 1fr 3fr 1fr;*/  
    border:1px solid #ddd;
    background:#ffffff;
}

.page-container{
    /*display:grid;*/
    min-height:400px;
    /*grid-template-columns: 1fr 3fr;*/
}
.page-data{padding:10px;}
.page-header{
    
    padding:2px;
    width:100%;
    height:75px;
    background:#00304C;color:#FEFFFD;
}
.data-btn{padding-left:8px}
/*.data-btn button{
    padding:10px 20px;background:#18bb7c;border:1px solid #fff;
    color:#FEFFFD;font-weight:bold;
}
.data-btn button a{
    color: #FEFFFD;
    text-decoration: none;
}*/
.data-table{padding-left:10px;}
.data-table table{border-collapse:collapse;border:1px solid #ddd;width:100%}
.a-inside{padding:4px 10px;border:1px solid #fff;text-decoration:none;}
.a-inside.edit{background-color:#18bb7c;color:#fff;}
.a-inside.delete{background-color:#D23641;color:#fff;}

/*input[type="text"]{
    
    border:1px solid #ddd;
    height:26px;
    width:300px;
}*/
.cancel{
    background-color:#D23641;color:#fff;
    border:1px solid #d32132;color:#fff;
    padding:8px 35px;font-weight:bold;
   

}
input[type="submit"]{

    border:1px solid #6599FF;color:#fff;
    padding:8px 35px;font-weight:bold;
    background:#6599FF;
}
textarea{ border:1px solid #ddd;width:296px;}
.label{font-weight:bold;}

#footer{
    background:#00304C;
    color:#FEFFFD;
    padding: 2%;
    width:100%;
    height:43px;
    text-align: center;
}
#container1{
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
a{
    text-decoration: none;
    color:black
}
.left_nav{
    background-color:  rgba(15, 83, 90, 0.79);
   border-right:3px solid rgba(15, 83, 90, 0.79);
 }
 .ulist{
    margin-top: 120px;
    margin-left:-41px;
 }
 .list1,.list2{
     list-style-type: none;
     padding: 16px;
     text-align: center;
 }
 .list1:hover{
    background-color:rgba(15, 83, 90, 0.79);
}
.list2:hover{
    background-color:rgba(15, 83, 90, 0.79);
    color:white;
}
  .head_but{
    float: right;
    padding: 7px;
    border-radius: 6px;
    margin-right: 24px;
    margin-top: -27px;
    border: none;
    color:white;
    background-color:rgba(15, 83, 90, 0.79)
 }
 .header_cont{
    margin-left: 6em;
 }
 .sheet_cont{
     display: grid;
     grid-template-columns: 1fr 3fr;
 }