
        <div class="page-data">
         <div class="data-btn">
             <button type="button" ng-click="togglepopup()" id="time_but" class="">Add Entry</button>
         </div>
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">No</th>
                    <th>Date</th>
                   <!-- <th>Address</th>-->
                    <th>In/Out</th>
                    <th>Time</th>
                   <!-- <th width="120px">Action</th>-->
                </tr>
                <tr ng-repeat="customer in customers">
                    <td width="50px"> {{customer.id}} </td>
                    <td>{{customer.date | date:'dd-MM-yyyy'}}</td>
                   <!-- <td>{{customer.address}}</td>-->
                    <td>{{customer.option}}</td>
                    <td>{{customer.time}}</td>
                   <!-- <td width="120px">
                        <a class="a-inside edit" href="#!edit_customer/edit/{{customer.id}}">Edit</a>
                        <a class="a-inside delete" href="#!delete_customer/delete/{{customer.id}}">Delete</a>
                    </td>-->
                </tr>          
            </table>
         </div>
        </div>
     <!--popup code goes here-->
        <div id="container1" class="container1" ng-class="{'show':showpopup,'hide':!showpopup}">
           
            <form method="post">
                <div class="content1">
                <table cellpadding="11" class="cont1">
                        <span ng-click="togglepopup()" id="close">&times;</span>
                <tr>
                    <td class="label">Date</td><td>: <input type="date" name="date" required ng-model="student.date"></td>
                    </tr>
                    <!--<tr>
                    <td class="label" valign="top">Address</td>
                    <td valign="top">: <textarea name="address" required cols="30" rows="5" ng-model="student.address"></textarea></td>
                </tr>-->
                <tr>
                    <td class="label">In/Out</td><td>: <input class="inp_add" type="text" name="option" required ng-model="student.option"></td>
                    </tr>
                    <tr>
                    <td class="label">Time</td><td>: <input class="inp_add" type="text" name="time" required ng-model="student.time"></td>
                    </tr>
                    <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Save" ng-click="addCustomers(student);togglepopup()">
                        <!--<input type="button" name="cancel" value="Cancel" class="cancel" ng-click="cancelAdd()">-->
                    </td>
                    </tr>
                </table>
            </form>
            </div>
        </div>
                
       