<div class="sheet_display ft-open-sans-regular" >
  <div class="left_nav" id="left_nav" ng-class="{'expand':menuExpanded}">
    <ul class="ulist">
        <li class="list1"  ng-class="{'active': currentTab=='task'}">
            <i class="fa fa-file-text-o" id="tooltip"></i>
            <a  class="anchor" href="#!/task" >Task</a> 
        </li>
        <li class="list2"  ng-class="{'active': currentTab=='sheet'}">
            <i class="fa fa-clock-o" id="tooltip"></i>
            <a class="anchor" href="#!/sheet">TimeSheet</a>
        </li>
    </ul>
  </div>
  <div class="page-data ft-open-sans-regular">
    <div class="data-btn">
      <button type="button" ng-click="togglepopup()" id="time_but" class="">Add Time</button>
        <ul ng-if="pager.pages.length" class="pagination">
            <li class="pageList" ng-class="{disabled:pager.currentPage === 1}" ng-click="setPage(1)">
                <a >First</a>
            </li>
            <li class="pageList" ng-class="{disabled:pager.currentPage === 1}" ng-click="setPage(pager.currentPage - 1)">
                <a >Previous</a>
            </li>
            <li class="pageList" ng-repeat="page in pager.pages" ng-class="{active1:pager.currentPage === page}" ng-click="setPage(page)">
                <a >{{page}}</a>
            </li>                
            <li class="pageList" ng-class="{disabled:pager.currentPage === pager.totalPages}">
                <a ng-click="setPage(pager.currentPage + 1)">Next</a>
            </li>
            <li class="pageList" ng-class="{disabled:pager.currentPage === pager.totalPages}">
                <a ng-click="setPage(pager.totalPages)">Last</a>
            </li>
        </ul>
     </div>
     <div class="data-table">
        <table border="1" cellpadding="7" cellspacing="7">
            <tr class="table_row">
                <th width="5%">No</th>
                <th  width="25%">Date</th>
                <th width="25%">In/Out</th>
                <th width="25%">Time</th>
                <th width="25%">UpdatedOn</th>
            </tr>
            <tr class="table_row" ng-repeat="sheet in items | limitTo:pageSize">
                <td width="5%"> {{(pager.startIndex) + ($index+1)}} </td>
                <td width="25%">{{sheet.date | date:'dd-MM-yyyy'}}</td>
                <td width="25%">{{sheet.option}}</td>
                <td width="25%">{{sheet.time}}</td>
                <td width="25%">{{sheet.updated_on| date:'dd-MM-yyyy HH:mm:ss'}}</td>
            </tr>          
        </table>
     </div>
  </div>
</div>
<!--popup code goes here-->
<div id="container1" class="container1 " ng-class="{'show':showpopup,'hide':!showpopup}">
  <div class="content1 xs-wid">
    <div id="close" ng-click="togglepopup()">
        <i class="fa fa-times"></i>
    </div>
    <caption><b class="align-text1">Sheet</b></caption>
    <form method="post">
     <table cellpadding="11" class="cont1">
       <tr>
        <td class="label">Date</td><td><input type="date" class="inp_add" name="date" required ng-model="student.date"></td>
      </tr>
      <tr>
        <td class="label">In/Out</td><td>: <select class="inp_add" type="text" name="option" required ng-model="student.option">
            <option>In</option>
            <option>Out</option>
            </select>
        </td>
     </tr>
     <tr>
        <td class="label">Time</td><td>: <input class="inp_add" type="text" name="time" required ng-model="student.time"></td>
    </tr>
    <tr>
        <td class="label"></td>
        <td>
            &nbsp; <input type="submit" name="submit" value="Save" ng-click="addSheet(student)">
        </td>
    </tr>
   </table>
  </form>
 </div>
</div>